* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Oxygen, Ubuntu, Cantarell, sans-serif;
        background-image: url("../images/Contact_Form.svg");
        background-size: inherit;
        background-position: center;
        color: #ffffff;
        overflow-x: hidden;
      }