
.contact-body {
  background: #050812;
  color: #fff;
  font-family: Inter, sans-serif;
}

.contact-container {
  max-width: 600px;
  margin: 120px auto;
  padding: 20px;
  text-align: center;
}

.contact-container h1 {
  font-size: 2.5rem;
  font-weight: 700;
  background: linear-gradient(90deg, #b388ff, #9f7aea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-container p {
  margin-bottom: 30px;
  font-size: 1.1rem;
  color: #cfcfcf;
}
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  text-align: left;
}

.form-group label {
  font-size: 0.9rem;
  color: #b5b5b5;
}
