* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  color: white;
}
.contact-body {
  background-image: url("Contact_Form.svg");
  display: flex;
  justify-content: center;
  padding: 24px;
}
.form-section {
  padding: 20px;
  max-width: 75%;
  width: 1092px;
  height: 600px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12px);
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.formulaire {
  /* grid-area: 1 / 1 / 2 / 2; */
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  gap: 14px;
}
.quote {
  /* grid-area: 1 / 2 / 2 / 3; */
  background-color: black;
}
.paragraph h2 {
  color: white;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
}
.paragraph p {
  color: white;
  font-size: 16px;
  font-weight: 200;
}
.formulaire input {
  width: 100%;
  height: 42px;
  border-radius: 5px;
  color: black;
  padding: 0 10px;
}

.formulaire textarea {
  width: 100%;
  height: 100px;
  border-radius: 5px;
  color: black;
  padding: 10px;
}

.wrapper {
  background-color: #ffffff;
  background-color: #ffffff;
  padding: 10px 20px;
  display: inline-block;
  color: black;
}